<h2>List of ratings</h2>

<p> Number of ratings: <%= @ratings.count %> </p>

<p>Five recent ratings</p>
<%= render 'list', list: Rating.recent(5) %>

<p>Top 3 breweries by ratings</p>
<%= render 'list', list: Brewery.top(3) %>

<p>Top 3 beers by ratings</p>
<%= render 'list', list: Beer.top(3) %>

<p>Top 3 raters</p>
<%= render 'list', list: User.top_raters(3).map{|r| r.keys[0]} %>

<p>Top 3 styles</p>
<%= render 'list', list:Style.top(3).map{|s| s.keys[0]} %>

<%= link_to 'New Rating', new_rating_path %>