<p id="notice"><%= notice %></p>

<h1>
  <%= @style.name %>
</h1>

<p>
  <%= @style.description %>
</p>

<h2>Beers</h2>
<ul>
  <% @style.beers.each do |beer| %>
      <li><%= link_to beer.name, beer %> by <%= link_to beer.brewery.name, beer.brewery %></li>
  <% end %>
</ul>


<%= link_to 'Edit', edit_style_path(@style) %> |
<%= link_to 'Back', styles_path %>
